@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');

*{
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: none;
padding: 21px 40px;
}
.btn-secondary{
    border-radius: 48px;
background: #4EC5F7;
padding: 21px 40px;
border: none;
}
.style-icons{
    height: 20px;
    width:20px;
    margin-right: 5px;
}

/*Text Types*/

.text-type-600{
color: #0B0223;
font-size: 38px;
font-weight: 600;
}
.text-type-800{
font-size: 60px;
font-weight: 800;
}
.text-type-500{
color: #534C64;
font-size: 20px;
font-weight: 500;
}
.text-type-400{
color: #534C64;
font-size: 16px;
font-weight: 400;
}

.text-type-700{
color: #534C64;
font-size: 24px;
font-weight: 700;
}
/*Header*/
.goat-container{
    margin: 0 100px;
}
.btn-icon{
width: 30px;
height: 24px;
padding-left: 10px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}
.nav1 ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav1 li{
  margin-right: 20px; 
  list-style: none; 
}
.nav2 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav2 li{
    list-style: none;
    
}
.nav2 a{
    text-decoration: none;
    margin-right: 20px;
}
.nav-btn{
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
border: none;
margin-top: 10px;
padding: 10px;
text-align: center;
}

/*Goat Container*/
.goat-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: space-between;
    
}

.goat-text{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: -20px;

}
.first-goat{
 padding-bottom: 150px;
 padding-left: 30px;
}
.first-goat ul li{
    list-style: none;
    margin-left: -30px;
}
.first-goat h2,h3,ul,button{
    margin-bottom: 20px;
}
.second-goat img{
    max-width: 500px;
    height: 100%;
}
/*Game Container*/
.gamer-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 100px;
}
    .gamer-image img{
        max-width: 600px;
    }
    .gamer-content{
        text-align: right;
    }
    .gamer-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    }

/*Video COntainer*/

.video-container{
    margin: 0 100px;
    margin-top: 80px;
}
.video-text{
    text-align: center;
    margin-bottom: 40px;
}

.video-content{
  display: flex;  
  justify-content: space-between;
}
.video img{
    max-width: 240px;
    border-radius: 16px;
}
.video-description{
    max-width: 240px;
}

/* Overlay Styles*/


/*.watch-now img{
    position: relative;
    bottom: 230px;
    left: 80px; 
    
}
*/
.watch-now-text{
    position: relative;
    bottom: 230px;
 color: #FF42A5;
 text-align: center;
font-size: 20px;
font-weight: 600;
}


/* Play Container*/

.play-container{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    margin-top: 50px;
}
.play-content{
    text-align: right;
    max-width: 320px;
    margin-left: 30px;
    padding-top: 200px;
}
.image-one{
    max-width: 500px;
    margin-left: 130px;
}
.image-two{
    position: relative;
    bottom: 230px;
}
.image-two img{
    max-width: 250px;
}

/*Action Container*/
.action-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-bottom: 50px;
}

.action-container{
   /* display:grid;
    grid-template-columns: repeat(5,1fr);*/
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
    margin: 0 100px;
    margin-top: -120px;
    
}
.action-content{
    display: flex;
    justify-content: center;
   align-items: center;
    padding: 20px 10px;
}
.action-image{
    width: 50px;
    height: 50px
}
.action-text{
margin-left: 10px;
color: #0B0223;
font-size: 12px;
font-weight: 600;
}
.action-content:hover{
border-radius: 50px;
border:1px solid #F948B2;
cursor: pointer;
}
.action-content p:hover{
    color:#F948B2;
}
/*Footer Section*/
.footer-section{
    background: #0B0223;
    padding: 60px 0px;
}
.footer-nav,.terms-nav{
    margin:40px 200px;
}
.footer-nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.terms-nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-nav{
    margin: 0 340px;
}
.icon-nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-nav img{
    width: 30px;
    height: 30px;
}
.footer-nav li{
color: #FFF;
font-size: 18px;
font-weight: 600;
list-style: none;
}
.terms-nav li{
color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
list-style: none;
}
.footer-gamer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-gamer li{
    list-style: none;
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-left: 15px;
}
.terms-nav a{
    text-decoration: none;
}

/*Responsive styles*/

@media screen and (max-width: 576px) {
    .nav2 ul,.nav-container,.gamer-container,.video-content,.play-container{
        flex-direction: column;
    }
    .footer-section{
        text-align: center;
    }
    .footer-nav,.terms-nav{
        margin:40px 20px;
    }
    .icon-nav{
        margin: 40px 50px;
    }
    .footer-nav li{
        font-size: 12px;
        font-weight: 600;
        padding: 20px 20px;
        }
        .terms-nav li{
            font-size: 11px;
            font-weight: 600;
            padding: 20px 20px; 
        }
        .icon-nav li{
            padding: 20px 20px; 
        }
    .footer-nav ul, .icon-nav ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        align-items: center;
    }
    .terms-nav ul {
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        justify-content: center;
        align-items: center;
    }
    .action-container{
        
        margin: 0 10px;
        margin-top: -30px ;
    }
    .action-content{
        display: flex;
        flex: 0 0 calc(33.33% - 20px);
        justify-content: center;
        align-items: center;
        
    }
    .action-text{
        margin-left: 5px;
        color: #0B0223;
        font-size: 8px;
        font-weight: 600;
        }
        .action-image{
            width: 25px;
            height: 25px
        }
        .action-content:hover{
            border-radius: 20px;
            border:1px solid #F948B2;
            padding: 5px;
            }
    .play-container{
        margin: 0 30px;
        justify-content: center;
        align-items: center;
    }
    .play-content{
        text-align: center;
        max-width: 320px;
        padding-top: 50px;
    }
    .image-two{
        position: relative;
        bottom: 100px;
    }
    .image-one{
      max-width: 300px;
       margin-left: 50px;
       padding-top: 50px;
    }
    .image-two img{
        max-width: 130px;
    }
    .nav-btn{
        min-width: 200px;
    }
    .unleash{
        color: #534C64;
        font-size: 20px;
        font-weight: 700;
         
    }
    .video-container{
       margin: 0 30px;
       margin-top: 80px;
    }
    .video-content{
        justify-content: center;
        align-items: center;
    }
    .video-description{
        font-size: 14px;
        max-width: 300px;
    }
    .video img{
        max-width: 300px;
        border-radius: 16px;
    }
    
    .nav2 li{
        padding-bottom: 20px;
    }

    .nav1,.nav2{
        text-align: center;
    }
    .goat-container{
        flex-direction: column-reverse;
        margin: 0 30px;
    }
    .first-goat{
        padding-bottom: 30px;
    }
    .gamer-container{
        margin: 0 30px;
        padding-top: 0px;
    }
    .gamer-image img{
        max-width: 400px;
    }
    .gamer-content{
        text-align: center;
    }
   
    .second-goat img{
        max-width: 350px;
    }
    .second-goat{
        align-items: center;
    }
}

@media screen and (min-width: 576px) and (max-width:992px) {
    .nav2 ul,.nav-container,.gamer-container,.video-content,.play-container{
        flex-direction: column;
    }
    .footer-section{
        text-align: center;
    }
    .footer-nav,.terms-nav{
        margin:40px 20px;
    }
    .icon-nav{
        margin: 40px 20px;
    }
    .footer-nav li{
        font-size: 12px;
        font-weight: 600;
        padding: 40px 40px;
        }
        .terms-nav li{
            font-size: 11px;
            font-weight: 600;
            padding: 40px 40px; 
        }
        .icon-nav li{
            padding: 30px 30px; 
        }
    .footer-nav ul, .icon-nav ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        align-items: center;
    }
    .terms-nav ul {
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        justify-content: center;
        align-items: center;
    }
    .action-container{
        grid-template-columns: repeat(3,1fr);
        margin: 0 30px;
        margin-top: -30px ;
    }
    .action-content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 10px;
    }
    .video-container{
        margin: 0 70px;
        margin-top: 80px;
     }
     .video-content{
         justify-content: center;
         align-items: center;
     }

     .play-container{
        margin: 0 30px;
        justify-content: center;
        align-items: center;
    }
    .play-content{
        text-align: center;
        max-width: 320px;
        padding-top: 50px;
    }
    .image-two{
        position: relative;
        bottom: 100px;
    }
    .image-one{
      max-width: 300px;
       margin-left: 50px;
       padding-top: 50px;
    }
    .image-two img{
        max-width: 130px;
    }
    .nav2 li{
        padding-bottom: 20px;
    }

    .nav1,.nav2{
        text-align: center;
    }
    .goat-container{
        flex-direction: column-reverse;
        margin: 0 70px;
    }
    .first-goat{
        padding-bottom: 30px;
    }
    .gamer-container{
        margin: 0 70px;
        padding-top: 0px;
    }
    .gamer-image img{
        max-width: 550px;
    }
    .gamer-content{
        text-align: center;
    }
    .second-goat img{
        max-width: 500px;
    }
    .second-goat{
        align-items: center;
    }
}